html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.sitetext {
  max-width: 960px;
  left: 50%;
  transform: translateX(-10%);
}

.card-deck .card {
  min-width: 220px;
  left: 50%;
  transform: translateX(-200%);
}
