{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block sidebar %}
  {% include "includes/sidebar.html" %}
{% endblock %}

{% block content %}
<div class="container" style="text-align:center;">
        {% if cook_list %}
           <form action="" method="get" class="form-inline" style="padding-top: 120px">
    {{ search_form|crispy }}
  <input class="btn btn-secondary" type="submit" value="Search">
  </form>

        <table class="table table-bordered table-dark mb-3 text-center"
        style="background-color: #264b5d; opacity: 90%; padding: 4px">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">First name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">Position</th>

                </tr>
                {% for cook in cook_list %}
                  <tr>
                  <td>
                    {{ cook.id }}
                  </td>
                  <td><a href="{{ cook.get_absolute_url }}">{{ cook.username }} {% if user == cook %} (Me){% endif %}</a>
                  </td>
                    <td>
                    {{ cook.first_name }}
                  </td>
                    <td>
                    {{ cook.last_name }}
                  </td>
                  <td>
                    {{ cook.position }}
                  </td>
        </tr>
          {% endfor %}
                {% else %}
      <p>There are no cooks in restaurant.</p>
                {% endif %}
        </table>
    </div>
  <div>
  <a href="{% url 'kitchen:cook-create' %}" class="btn btn-outline-danger btn-success link-to-page" style="padding-end: 150px">
      Create
    </a>
  </div>
{% endblock %}
