{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block sidebar %}
  {% include "includes/sidebar.html" %}
{% endblock %}

{% block content %}
<div class="container" style="text-align:center;">
        {% if dishtype_list %}


   <form action="" method="get" class="form-inline" style="padding-top: 120px">
    {{ search_form|crispy }}
  <input class="btn btn-secondary" type="submit" value="Search">
  </form>

        <table class="table center table-bordered table-dark mb-3 text-center"
        style="background-color: #264b5d; opacity: 90%">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
                {% for dishtype in dishtype_list %}
                  <tr>
                  <td>
                    {{ dishtype.id }}
                  </td>
                  <td>
                    {{ dishtype.name }}
                  </td>
          <td>
              <a href="{% url 'kitchen:dishtype-update' pk=dishtype.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: orangered"
                href="{% url 'kitchen:dishtype-delete' pk=dishtype.id %}">
                Delete
              </a>
            </td>
        </tr>
          {% endfor %}
                {% else %}
      <p>There are no dishtypes in menu.</p>
                {% endif %}
        </table>
    </div>
    <div>
    <a href="{% url 'kitchen:dishtype-create' %}" class="btn btn-outline-white btn-success mb-2 link-to-page" style="padding-end: 150px">
      Create
    </a>
  </div>
{% endblock %}
