{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block sidebar %}
  {% include "includes/sidebar.html" %}
{% endblock %}

{% block content %}
<div class="container" style="text-align:center;">
        {% if dish_list %}
 <form action="" method="get" class="form-inline" style="padding-top: 120px">
    {{ search_form|crispy }}
  <input class="btn btn-secondary" type="submit" value="Search">
  </form>
        <table class="table center table-bordered table-dark mb-3 text-center"
        style="background-color: #264b5d; opacity: 90%">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">DISHTYPE</th>

                </tr>
                {% for dish in dish_list %}
                  <tr>
                  <td>
                    {{ dish.id }}
                  </td>
                  <td>
                    {{ dish.name }}
                  </td>
                    <td>
                    {{ dish.price }}
                  </td>
                    <td>
                    {{ dish.dish_type }}
                  </td>
        </tr>
          {% endfor %}
                {% else %}
      <p>There are no dishes in menu.</p>
                {% endif %}
        </table>
    </div>
  <div>
  <a href="{% url 'kitchen:dish-create' %}" class="btn btn-outline-danger btn-success link-to-page" style="padding-end: 150px">
      Create
    </a>
  </div>
{% endblock %}
